.input-group {
  height: 40px;
  border-bottom: 1px solid #eeeeee;
  border-radius: 3px;
  margin-top: 10px;
  input {
    height: 100%;
  }
}

.phcolor {
  font-size: 14px;
  color: #B2B2B2;
}

.input-group-split {
  display: flex;
  flex-direction: row;
  .input-group-l {
    flex: 1;
  }
  .input-group-r {
    >img {
      width: 100px;
      height: 100%;
    }
    .input-group-vcode {
      width: 100px;
      color: #F13744;
      background-color: transparent;
      &::after {
        border: none;
      }
      &[disabled] {
        color: #ccc !important;
      }
    }
  }
}

.login-tips-box {
  font-size: 12px;
  margin: 10px 0; // text-align: center;
  color: #8F8F8F;
}

.login-btn-box {
  margin-top: 30px;
  position: relative;
  z-index: 1;
  .auth-btn {
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 0px;
    border: none;
    outline: none;
    &::after {
      border: none;
    }
  }
}

.fuck {
  border: 1px solid yellow;
}
