page {
  background-color: #f5f5f5;
}
.site-box {
  display: flex;
  flex-direction: column;
  .site-search-box {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #eeecec;

    background-color: #f5f5f5;

    .site-suggest {
      flex: 1;
      input {
        margin: 8px;
        margin-right: 0px;
        padding: 2px 10px;
        background-color: #fff;
        border: 1px solid #eeecec;
      }
    }
    .site-cancel {
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .site-list-box {
    flex: 1;
    overflow-y: auto;
    .site-list {
      background-color: #fff;
      li {
        font-size: 14px;
        padding: 10px 10px 10px 0px;
        margin-left: 15px;
        border-top: 1px solid #eaeaea;
        &:first-child {
          border-top: none;
        }
      }
    }
  }
}
