.maskLayer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0;
  overflow: hidden;
  z-index: 1000;
  color: #fff;
}

.sliderContent {
  width: 100%;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2000;
  background: #fff; // transform: translateY(300px);
}

.slider-content-box {
  .slider-title-box {
    display: flex;
    flex-direction: row;
    text-align: center;
    // height: 44px;
    // border-bottom: 1px solid #eaeaea;
    padding-top: 20px;
    padding-bottom: 10px;
    position: relative;
    z-index: 2001;
    .cancel {
      position: absolute;
      left: 0;
      top: 0;
      width: 50px;
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 15px;
      .cancel-img {
        padding-top: 10px;
        width: 15px;
        height: 15px;
      }
    }
    .title {
      flex: 1;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .comfirm {
      width: 100px;
      color: #f13744;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .slider-content {
    min-height: 220px;
    overflow-y: auto;
    .slider-item {
      padding: 15px 15px 15px 0;
      margin-left: 15px;
      border-bottom: 1px solid #f2f2f2;
    }
    .slider-radio {
      padding: 10px;
    }
    .slider-notice {
      font-size: 12px;
      color: #b2b2b2;
      text-align: center;
      padding: 18px 0; 
    }
  }
}

.slider-check-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .name {
    margin-right: 10px;
    font-size: 15px;
  }
  .remark {
    flex: 1;
    font-size: 13px;
    color: #b2b2b2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 2px;
  }
  .check {
    display: flex;
    justify-content: center;
    align-items: center;
    .selected-img {
      width: 18px;
      height: 18px;
    }
    .uncheck {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 1px solid #b2b2b2;
    }
  }
}