.city-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  &.selecting {
    overflow: hidden;
  }
}

.city-show-box {
  position: relative;
  z-index: 1;
  background-color: #f8f8f8;
}

.city-title {
  font-size: 14px;
  padding: 3px 10px;
  background-color: #eaeaea;
}

.city-list {
  font-size: 14px;
  padding: 10px;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
}

.city-list .city-list-item {
  padding: 5px 20px;
  background-color: #fff;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #eaeaea;
}

.city-select-list {
  font-size: 14px;
  padding: 0 30px 0 10px;
}

.city-select-list .city-select-item {
  padding: 10px 0;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
}

.city-select-list .city-select-item:last-child {
  border-bottom: 0;
}

.city-sidebar-box {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  width: 30px;
  height: 100%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
}

.city-sidebar-list .city-sidebar-item {
  text-align: center;
}
