@import './component/reset';
@import './component/minxins';
@import './component/toast';
@import './component/modal';
@import './component/loading';
@import './lottery';
body {
    background-color: #ffb200;
}

.header {
    background-color: #ffb200;
    .img {
        width: 100%;
        display: block;
    }
    .h-text {
        padding-top: px2rem(10);
        background: linear-gradient(#feb428, #feb227);
        text-align: center;
        .h-text-1 {
            font-size: px2rem(38);
        }
        .h-text-2 {
            width: px2rem(370);
            height: px2rem(70);
            margin: px2rem(25) auto px2rem(10);
            color: #fff;
            background-color: #5a002b;
            @include align-justify;
            span {
                margin-bottom: px2rem(5);
                font-size: px2rem(46);
            }
        }
        .h-text-3 {
            font-size: px2rem(37);
        }
        .h-text-4 {
            margin-top: px2rem(30);
            font-size: px2rem(26);
        }
        p {
            color: #5a002b;
        }
    }
}

.phone-submit {
    background-color: #ffb200;
    display: flex;
    width: 100%;
    height: px2rem(167);
    .phone-wrap {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .phone {
            width: px2rem(524);
            height: px2rem(89);
            font-size: px2rem(30);
            padding-left: px2rem(25);
            border: 2px solid #fc3251;
            border-radius: 5px;
            box-sizing: border-box;
            background-color: #fff8e8;
        }
    }
    .submit-wrap {
        width: px2rem(186);
        display: flex;
        align-items: center;
        justify-content: center;
        .submit {
            width: px2rem(130);
            height: px2rem(70);
            border: none;
            outline: none;
            font-size: px2rem(34);
            color: #fff;
            background-color: #fc3251;
            border-radius: 5px;
            word-break: keep-all;
            &:active {
                background-color: #da2a47;
            }
        }
    }
}

input.phone-plac::-webkit-input-placeholder {
    color: #fc3251;
}

input.phone-plac:-moz-placeholder {
    color: #fc3251;
}

input.phone-plac::-moz-placeholder {
    color: #fc3251;
}

input.phone-plac:-ms-input-placeholder {
    color: #fc3251;
}

.footer-wrap {
    background-color: #ffb200;
    .img {
        width: 100%;
        display: block;
    }
}

.f-wrap {
    padding-left: px2rem(40);
    padding-bottom: px2rem(135);
    background: #ffb200 url('../images/lottery/f-bg.png') no-repeat center bottom;
    background-size: contain;
    .f-title {
        font-size: px2rem(30);
        font-weight: bold;
    }
    p {
        color: #63002f;
    }
    .f-qrcode-wrap {
        margin-top: px2rem(25);
        margin-bottom: px2rem(25);
        margin: px2rem(25) px2rem(25) px2rem(25) 0;
        text-align: center;
        .f-qrcode {
            width: px2rem(213);
            height: px2rem(214);
        }
    }
}

.f-list {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: px2rem(8);
    .f-list-no {
        width: px2rem(50);
        margin-top: px2rem(3);
        .f-list-no-text {
            font-size: px2rem(24);
            font-weight: lighter;
            color: #fff;
            width: px2rem(34);
            height: px2rem(34);
            background-color: #63002f;
            border-radius: 50%;
            @include align-justify;
        }
    }
    .f-list-text {
        flex: 1;
        font-size: px2rem(28);
        color: #63002f;
        line-height: 1.5;
    }
}

.m-t-10 {
    margin-top: px2rem(15);
}