@import './component/reset.scss';
@import './component/minxins.scss';
@import './component/toast.scss';
@import './component/modal.scss';

.header {
    background-color: #ffb200;
    .img {
        width: 100%;
        display: block;
    }
}

.phone-submit {
    background-color: #ffb200;
    display: flex;
    width: 100%;
    height: px2rem(167);
    .phone-wrap {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .phone {
            width: px2rem(524);
            height: px2rem(89);
            font-size: px2rem(30);
            padding-left: px2rem(25);
            border: 2px solid #fc3251;
            border-radius: 5px;
            box-sizing: border-box;
        }
    }
    .submit-wrap {
        width: px2rem(186);
        display: flex;
        align-items: center;
        justify-content: center;
        .submit {
            width: px2rem(130);
            height: px2rem(70);
            border: none;
            outline: none;
            font-size: px2rem(34);
            color: #fff;
            background-color: #fc3251;
            border-radius: 5px;
        }
    }
}

input.phone-plac::-webkit-input-placeholder {
    color: #fc3251;
}

input.phone-plac:-moz-placeholder {
    color: #fc3251;
}

input.phone-plac::-moz-placeholder {
    color: #fc3251;
}

input.phone-plac:-ms-input-placeholder {
    color: #fc3251;
}

.lottery-wrap {
    background-color: #ffb200;
    display: block;
    width: 100%;
    height: px2rem(712);
}

.footer-wrap {
    background-color: #ffb200;
    .img {
        width: 100%;
        display: block;
    }
}

// 抽奖
.lottery-table {
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
    .lottery-tbody {
        display: block;
        width: px2rem(575);
        height: px2rem(567);
        box-sizing: border-box;
        margin-top: px2rem(7);
        margin-left: px2rem(7);
    }
    .lottery-tr {
        margin-right: px2rem(5);
    }
}

.lottery {
    width: px2rem(616);
    height: px2rem(616);
    margin: 0 auto;
    padding: px2rem(20);
    background: url('../images/lottery/bg.jpg') #ffb200 no-repeat center center;
    background-size: cover;

    .item {
        display: inline-block;
        width: px2rem(183);
        height: px2rem(181);
        background: url('../images/lottery/bg1.png') no-repeat center center;
        background-size: cover;
        position: relative;
        border-radius: 6px;
        overflow: hidden;
        &.active {
            .redbag-cover {
                display: block;
                width: 100%;
                height: px2rem(164);
                position: absolute;
                left: 0;
                top: 0;
                z-index: 10;
                background-color: rgba($color: #ff4200, $alpha: 0.5);
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
            }
        }
        .redbag-money {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 9;
            width: 100%;
            height: 100%;
            font-size: px2rem(32);
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            &.big-money {
                font-size: px2rem(27);
            }
        }
        .redbag-cover {
            display: none;
        }
    }
    
    .gap {
        width: px2rem(5);
    }
    
    .gap-2 {
        height: px2rem(5);
    }
    
    .lottery-btn {
        display: block;
        width: px2rem(183);
        height: px2rem(181);
        margin: 0 auto;
        border-radius: 10px;
        font-size: px2rem(50);
        background: url('../images/lottery/btn.jpg') no-repeat center center;
        background-size: cover;
    }
    
    .lottery-btn {
        &:hover {
            background-color: #fe8d85;
        }
    }
    
    .img-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        overflow: hidden;
        .redbag {
            width: px2rem(104);
            height: px2rem(138);
            margin-bottom: px2rem(10);
        }
    }
    
}
