.idx-box {
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  .idx-main-box {
    overflow-y: auto;
    flex: 1;
    padding-bottom: 107px;
    .idx-site-box {
      margin: 10px 0;
      .item-r {
        min-height: 67px;
      }
    }
  }
  .idx-ft-box {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
  }
}

.idx-ft-box {
  .idx-ft-price {
    position: relative;
    z-index: 3;
    .price-text {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      color: #f13744;
      background-color: #fff;
      .price {
        position: relative;
        z-index: 3;
        .coupon-text {
          width: 100px;
          position: absolute;
          left: 100%;
          bottom: 5px;
          z-index: 4;
          margin: 0 5px;
          font-size: 12px;
          color: #b2b2b2;
        }
      }
    }
  }
}

.idx-site {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  .site-l {
    width: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 18px;
    .site-point {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      &.start {
        background-color: #15c145;
      }
      &.end {
        background-color: #f13744;
      }
    }
  }
  .site-r {
    flex: 1;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
    padding: 12px 15px 12px 0;
    border-top: 1px solid #ededed;
  }
}

.idx-cartype-box {
  display: flex;
  flex-direction: column;
  .cartype-l {
    width: 50px;
  }
  .cartype-r {
    flex: 1;
    background-color: #fff;
  }
}

.goods-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  .goods-amount-box {
    padding: 0 10px;
    width: 50px;
    border-right: 1px solid #eeeeee;
    input {
      text-align: center;
    }
  }
  .goods-info-box {
    flex: 1;
    text-align: right;
  }
}

.maskLayer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0;
  overflow: hidden;
  z-index: 1000;
  color: #fff;
}

.sliderContent {
  width: 100%;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2000;
  background: #fff; 
}

.slider-content-box {
  .title-box {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
    font-size: 16px;
    .cancel {
      width: 100px;
      color: #ccc;
    }
    .title {
      flex: 1;
    }
    .comfirm {
      width: 100px;
      color: #f13744;
    }
  }
  .content-box {
    .checkbox {
      padding: 15px 10px;
      .check-item {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        .name {
          margin-right: 10px;
        }
        .remark {
          flex: 1;
          font-size: 13px;
          color: #ccc;
          display: flex;
          align-items: center;
        }
        .check {
          display: flex;
          justify-content: center;
          align-items: center;
          .uncheck {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 2px solid #ccc;
          }
        }
      }
    }
  }
}
