.idx-box {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  .idx-main-box {
    flex: 1;
    .idx-site-box {
      margin: 10px 0;
    }
  }
  .idx-ft-box {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
  }
}

.idx-ft-box {
  .idx-ft-price {
    position: relative;
    z-index: 2;
    .price-text {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      background-color: #fff;
    }
  }
}

.idx-ft-nextbtn {
  .next-btn {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // font-size: 18px;
  }
}

.idx-site {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  .site-l {
    width: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 18px;
    .site-point {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      &.start {
        background-color: #15c145;
      }
      &.end {
        background-color: #F13744;
      }
    }
  }
  .site-r {
    flex: 1;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
    padding: 12px 15px 12px 0;
    border-top: 1px solid #EDEDED;
  }
}

.site-r-text {
  flex: 1;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 14px;
  line-height: 1.6;
  .site-info-t {
    color: #AAAAAA;
  }
  .site-info-c {
    color: #333333;
  }
  .site-info-b {
    font-size: 12px;
  }
}

.site-r-arrow {
  position: absolute;
  right: 15px;
  top: 0px;
  z-index: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .img-site-arrow {
    width: 8px;
    height: 13px;
  }
}

.idx-cartype-box {
  display: flex;
  flex-direction: column;
  .cartype-l {
    width: 50px;
  }
  .cartype-r {
    flex: 1;
    background-color: #fff;
  }
}

