page {
    background-color: #f5f5f5;
}
.contact-info-box {
    padding: 15px;
  .contact-info-title {
      font-size: 18px;
  }
  .contact-info-content {
      font-size: 14px;
      color: #ccc;
  }
}

.contact-item-box {
    margin-bottom: 15px;
}