.css-style-test {
    color: yellow;
}
.css-bgimg-test {
    width: 200px;
    height: 200px;
    background: url('../images/test.jpg') no-repeat;
    background-size: cover;
}

.css-img-test {
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
    display: flex;
}